Contributor: Jisoo Yoon

@model FitnessAndCalorieTracker.Models.Workout
@{
    ViewData["Title"] = "Delete Workout";
}

<h2>Delete Workout Entry</h2>

<h4>Are you sure you want to delete this workout?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-3">Workout Type</dt>
    <dd class="col-sm-9">@Model.WorkoutType</dd>

    <dt class="col-sm-3">Duration (min)</dt>
    <dd class="col-sm-9">@Model.DurationMinutes</dd>

    <dt class="col-sm-3">Calories Burned</dt>
    <dd class="col-sm-9">@Model.CaloriesBurned</dd>

    <dt class="col-sm-3">Date</dt>
    <dd class="col-sm-9">@Model.Date.ToShortDateString()</dd>
</dl>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
